#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define FUNC 1

// ----------------------------------------------------------------------
//  DISTRIBUCION ESPANOLA EN WINDOWS
//  ZMK manda posiciones de teclado US. Windows las traduce a ES.
//  Equivalencias que usamos abajo:
//      :   ->  LS(DOT)     (Shift + punto)
//      /   ->  LS(N7)      (Shift + 7)
//      -   ->  SLASH       (la tecla US de diagonal da guion en ES)
//  Si algun dia cambias Windows a ingles, hay que revertir esto.
// ----------------------------------------------------------------------
#define ES_COLON LS(DOT)
#define ES_SLASH LS(N7)
#define ES_MINUS SLASH

/ {
    behaviors {
        // Tecla roja: toque = Esc (Stop), mantener = capa FUNC.
        lt_stop: lt_stop {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    macros {
        // Gmail: Win+R, espera el dialogo, teclea la URL completa y Enter
        m_gmail: m_gmail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <8>;
            tap-ms = <8>;
            bindings
                = <&kp LG(R)>
                , <&macro_wait_time 700>
                , <&macro_wait_time 8>
                , <&kp H &kp T &kp T &kp P &kp S &kp ES_COLON &kp ES_SLASH &kp ES_SLASH>
                , <&kp M &kp A &kp I &kp L &kp DOT &kp G &kp O &kp O &kp G &kp L &kp E &kp DOT &kp C &kp O &kp M>
                , <&macro_wait_time 150>
                , <&kp ENTER>
                ;
        };

        // WhatsApp de escritorio por protocolo
        m_whats: m_whats {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <8>;
            tap-ms = <8>;
            bindings
                = <&kp LG(R)>
                , <&macro_wait_time 700>
                , <&macro_wait_time 8>
                , <&kp W &kp H &kp A &kp T &kp S &kp A &kp P &kp P>
                , <&kp ES_COLON &kp ES_SLASH &kp ES_SLASH>
                , <&macro_wait_time 150>
                , <&kp ENTER>
                ;
        };

        // Recorte, 4 s para seleccionar, y pega con Alt+V
        m_snap: m_snap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            // wait-ms es el tiempo entre un binding y el siguiente.
            // Como solo hay dos, son exactamente 4 s para seleccionar.
            wait-ms = <4000>;
            tap-ms = <40>;
            bindings = <&kp LG(LS(S))>, <&kp LA(V)>;
        };

        // Vacia el campo de Claude Code.
        // Ctrl+A va al inicio de linea (convencion readline, no
        // "seleccionar todo"). Ctrl+K borra del cursor al final.
        m_wipe: m_wipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LC(A) &kp LC(K)>;
        };

        // CanicaSync - panel de solicitudes
        m_canica: m_canica {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <8>;
            tap-ms = <8>;
            bindings
                = <&kp LG(R)>
                , <&macro_wait_time 700>
                , <&macro_wait_time 8>
                , <&kp H &kp T &kp T &kp P &kp S &kp ES_COLON &kp ES_SLASH &kp ES_SLASH>
                , <&kp C &kp A &kp N &kp I &kp C &kp A &kp S &kp Y &kp N &kp C>
                , <&kp DOT &kp C &kp O &kp M>
                , <&kp ES_SLASH &kp LS(A) &kp P &kp P>
                , <&kp ES_SLASH &kp LS(S) &kp O &kp L &kp I &kp C &kp I &kp T &kp U &kp D>
                , <&macro_wait_time 150>
                , <&kp ENTER>
                ;
        };

        // CheckID - panel de tenants
        m_checkid: m_checkid {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <8>;
            tap-ms = <8>;
            bindings
                = <&kp LG(R)>
                , <&macro_wait_time 700>
                , <&macro_wait_time 8>
                , <&kp H &kp T &kp T &kp P &kp S &kp ES_COLON &kp ES_SLASH &kp ES_SLASH>
                , <&kp W &kp W &kp W &kp DOT>
                , <&kp C &kp H &kp E &kp C &kp K &kp I &kp D &kp DOT &kp M &kp X>
                , <&kp ES_SLASH &kp LS(A) &kp P &kp P>
                , <&kp ES_SLASH &kp LS(T) &kp E &kp N &kp A &kp N &kp T &kp S>
                , <&macro_wait_time 150>
                , <&kp ENTER>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";

        // ZMK Studio: posiciones 0 y 2 a la vez (las esquinas de arriba)
        combo_studio {
            timeout-ms = <60>;
            key-positions = <0 2>;
            bindings = <&studio_unlock>;
            layers = <BASE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ------------------------------------------------------------------
        //  Capa BASE - toque directo
        //
        //   Escritorio  CanicaSync  Gmail       (encoder)
        //   Recorte     Cerrar      Reabrir
        //   Ventanas    Mute        Dictado      ROJO
        // ------------------------------------------------------------------
        base_layer {
            display-name = "Base";
            bindings = <
                &kp LG(D)       &m_canica      &m_gmail       &kp C_MUTE
                &kp LG(LS(S))   &kp LC(W)      &kp LC(LS(T))
                &kp LA(ESC)     &kp LC(LS(A))  &kp LG(H)      &lt_stop FUNC ESC
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // ------------------------------------------------------------------
        //  Capa FUNC - manteniendo la tecla roja
        //
        //   Otro monitor  CheckID   WhatsApp    (encoder)
        //   Snap+pega    Vaciar    Portapapeles
        //   Modo         libre     Restaurar    (tecla de capa)
        // ------------------------------------------------------------------
        func_layer {
            display-name = "Func";
            bindings = <
                &kp LG(LS(RIGHT))  &m_checkid  &m_whats     &trans
                &m_snap            &m_wipe     &kp LG(V)
                &kp LS(TAB)        &none       &kp LG(LS(M))  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
